[submodule "submodules/mediasite_client"]
	path = submodules/mediasite_client
	url = https://github.com/UbiCastTeam/mediasite_client
[submodule "submodules/mediaserver-client"]
	path = submodules/mediaserver-client
	url = git@github.com:UbiCastTeam/mediaserver-client.git
