{
    "mediasite_api_url": "",
    "mediasite_api_key": "",
    "mediasite_api_user": "",
    "mediasite_api_password":"",
    "mediasite_userfolder": "/Mediasite Users/",
    "mediaserver_url":"",
    "mediaserver_api_key": "",
    "mediaserver_parent_channel": "",
    "mediaserver_unknown_users_channel", "Unknown Mediasite Users",
    "composite_width": 1920,
    "composite_height": 1080,
    "whitelist": [],
    "videos_formats_allowed": {
        "video/mp4": true,
        "video/x-ms-wmv": false
    },
    "external_data" : false
}
